<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sensors</title>
    <meta http-equiv="refresh" content="10">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" th:inline="javascript">
        google.load('visualization', '1.0', {
            'packages' : [ 'corechart' ]
        });
        
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Timestamp');
            data.addColumn('number', 'Sensor 0');
            data.addColumn('number', 'Sensor 1');
            data.addColumn('number', 'Sensor 2');
            data.addColumn('number', 'Sensor 3');

            data.addRows(/*[[${readings}]]*/);

            var options = {
                title: "Probe temperatures graph",
                isStacked: true,
                vAxis: {
                    title: "Temperature (C)",
                    viewWindowMode:'explicit',
                    viewWindow:{
                        max:250,
                        min:0
                    }
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('div_chart'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<h1>Sensors:</h1>
<section>
    <form  action="#" th:action="@{/probes}" th:object="${sensorsView}" method="post">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Probe</th>
            <th scope="col">Temperature</th>
            <th scope="col">Unit</th>
            <th scope="col">Probe Mode</th>
            <th scope="col">Probe Mode</th>
        </tr>
        </thead>
        <tr th:each="sensor, itemStat : ${sensorsView.sensors}">

            <td> <input type="text" th:name="*{'sensors[__${itemStat.index}__].identifier'}" th:id="*{'sensors[__${itemStat.index}__].identifier'}" th:value="*{sensors[__${itemStat.index}__].identifier}" readonly></td>
            <td> <input type="text" th:name="*{'sensors[__${itemStat.index}__].reading'}" th:id="*{'sensors[__${itemStat.index}__].reading'}" th:value="*{sensors[__${itemStat.index}__].reading}"  readonly></td>
            <td> <input type="text" th:name="*{'sensors[__${itemStat.index}__].unit'}" th:id="*{'sensors[__${itemStat.index}__].unit'}" th:value="*{sensors[__${itemStat.index}__].unit}" readonly></td>
            <td> <input th:value="*{sensors[__${itemStat.index}__].mode}" readonly></td>
            <td >
                <select th:name="*{'sensors[__${itemStat.index}__].mode'}" th:id="*{'sensors[__${itemStat.index}__].mode'}">
                    <option th:value="'Disabled'" th:text="Disabled" th:selected="*{sensors[__${itemStat.index}__].mode}=='Disabled'" ></option>
                    <option th:value="'Ikea'" th:text="Ikea" th:selected="*{sensors[__${itemStat.index}__].mode}=='Ikea'" ></option>
                    <option th:value="'Mastrad'" th:text="Mastrad" th:selected="*{sensors[__${itemStat.index}__].mode}=='Mastrad'" ></option>
                    <option th:value="'Aldi'" th:text="Aldi" th:selected="*{sensors[__${itemStat.index}__].mode}=='Aldi'" ></option>
                    <option th:value="'ThermoWorks'" th:text="ThermoWorks" th:selected="*{sensors[__${itemStat.index}__].mode}=='ThermoWorks'" ></option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="5"><input type="submit" value="Update"/></td>
        </tr>
    </table>
    </form>
</section>
<h1>Graph:</h1>
<section>
    <div id="div_chart" style="width: 800px; height: 400px;"></div>
</section>
</body>
</html>